<html lang="en">
    <head>
    <title>LendStack</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="Loan Website">
    <meta name="keywords" content="Loan,Money,LendStack,borrow">
    <meta name="author" content="Lendstack">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="assets/images/icons/lendstack-favicon-blue.png" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- External Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!--  -->
    <style>
        a{
            color:purple;
        }
        a:hover{
            color:green;
            cursor:pointer;
        }

    </style>
  </head>
  <body>
 
    <div>
        Hello World
        <a>MAry Ihekwoaba is a very stubborn girl!!! </a>
        
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>
</html>